<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="travel.com">

    <!-- for internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- for pick photo -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- make phone call -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".app.TravelawyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".splashScreen.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".homeScreen.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".flightSearch.FlightSearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".touristesTripResults.TripsResultsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".touristesPopUpFilter.PopUPFilter"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".touristesTripDetail.TouristesTripDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".touristesTripsFilter.TouristesTripesFilterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".touristesCompanies.TouristesCompanies"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".myBookings.MyBookingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".touristesCompaniesDetails.CompaniesDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".myBookingsDetails.BookingDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bookTrip.BookTripActivity"
            android:label="@string/title_activity_book_trip"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".signIn.SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".signUp.SignUpActivity"
            android:label="@string/title_activity_sign_out"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>