<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="travel.com">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.TravelawyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".splashScreen.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homeScreen.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".flightSearch.FlightSearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".touristesTripResults.TripsResultsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".touristesPopUpFilter.PopUPFilter"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".touristesTripDetail.TouristesTripDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".touristesTripsFilter.TouristesTripesFilterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".touristesCompanies.TouristesCompanies"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".myBookings.MyBookingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".touristesCompaniesDetails.CompaniesDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".myBookingsDetails.BookingDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>